@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  [x-cloak] {
    @apply hidden;
  }
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  background-color: #fff;
}

.h-nav-menu {
  height: calc(100vh - 67px);
}

.slide-down-mobile-nav {
  animation-duration: 300ms;
  animation-timing-function: cubic-bezier(0.6, 0, 0.15, 1);
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-play-state: running;
  animation-name: slideDown;
}

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
